# Application
VITE_NODE_ENV=
VITE_APP_VERSION=
VITE_APP_DOMAIN=
VITE_APP_IP=
VITE_APP_PORT=

# Host registry
VITE_LIANYING_APP_DOMAIN=
VITE_LIANSHUN_APP_DOMAIN=
VITE_KHRU_APP_DOMAIN=

VITE_LIANYING_APP_IP=
VITE_LIANSHUN_APP_IP=
VITE_KHRU_APP_IP=


# Backend
VITE_GRAFANA_URL=
VITE_API_BASE_URL=
VITE_API_BASE_CLF_URL=
VITE_WEBSOCKET_URL=
VITE_WEBSOCKET_CLF_URL=
VITE_DEFAULT_TTL=
VITE_REQUEST_TIMEOUT=

# Bcrypt
VITE_BCRYPT_SALT_ROUND=

# Sentry
VITE_SENTRY_PROJECT=
VITE_SENTRY_ORG=
VITE_SENTRY_DSN=
VITE_SENTRY_AUTH_TOKEN=
