# Application
VITE_APP_PORT=
VITE_APP_HOST=
VITE_NODE_ENV=
VITE_APP_VERSION=

VITE_LIANYING_APP_HOST=
VITE_LIANSHUN_APP_HOST=
VITE_KHRU_APP_HOST=

# Backend
VITE_API_BASE_URL=
VITE_WEBSOCKET_URL=
VITE_DEFAULT_TTL=
VITE_REQUEST_TIMEOUT=

# Bcrypt
VITE_BCRYPT_SALT_ROUND=

# Sentry
VITE_SENTRY_PROJECT=
VITE_SENTRY_ORG=
VITE_SENTRY_DSN=
VITE_SENTRY_AUTH_TOKEN=
