@import url('./nprogress.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--active: 221.2 83.2% 53.3%;

		--success: 142.1 76.2% 36.3%;
		--success-foreground: 0 0% 98%;

		--warning: 47.9 95.8% 53.1%;
		--warning-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--scrollbar: 0 0% 90%;
		--scrollbar-width: 16px;

		--radius: 0.5rem;

		--table-head: 0 0% 99%;
		--table-row-active: 0 0% 96%;
		--table-row-selected: 0 0% 98%;

		/* --chart-1: 220 70% 50%;
		--chart-2: 340 75% 55%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 160 60% 45%; */

		--sidebar-background: 0 0% 100%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: 359 2% 90%;
		--chart-2: 240 1% 74%;
		--chart-3: 240 1% 58%;
		--chart-4: 240 1% 42%;
		--chart-5: 240 2% 26%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--active: 217.2 91.2% 59.8%;

		--success: 142.1 70.6% 45.3%;
		--success-foreground: 0 0% 9%;

		--warning: 47.9 95.8% 53.1%;
		--warning-foreground: 0 0% 9%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--scrollbar: 0 0% 15%;

		--table-head: 0 0% 6.9%;
		--table-row-active: 0 0% 12%;
		--table-row-selected: 0 0% 9%;

		/* --chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%; */

		--sidebar-background: 0 0% 3.9%;
		--sidebar-foreground: 0 0% 98%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: 359 2% 90%;
		--chart-2: 240 1% 74%;
		--chart-3: 240 1% 58%;
		--chart-4: 240 1% 42%;
		--chart-5: 240 2% 26%;
	}

	/* Global styles */
	* {
		@apply border-border !scrollbar-thin scrollbar-track-transparent scrollbar-thumb-scrollbar;
	}
	body {
		@apply !pointer-events-auto bg-background text-foreground;
	}
}

@layer components {
	input[type='number'] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}

	button:focus-within {
		outline: none;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

::view-transition-new(root) {
	animation: 1s cubic-bezier(0, 0, 0.5, 1) fade both;
}

::view-transition-old(wrapper) {
	animation: 2s cubic-bezier(0, 0, 0.2, 1) fade;
	animation:
		90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(wrapper) {
	animation: 2s cubic-bezier(0.4, 0, 1, 1) fade;
	animation:
		210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
