<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Service Worker" stopProcessing="true">
          <match url="^(sw\.js|workbox-[a-zA-Z0-9\-]+\.js)$" />
          <action type="None" />
        </rule>
        <rule name="Static Assets" stopProcessing="true">
          <match url="^(.+\.(js|json|webmanifest|wasm|map))$" />
          <action type="None" />
        </rule>
        <rule name="Single Page App" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <!-- Enable compression for better performance -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <caching>
      <profiles>
         <!-- Cache static assets that don't change often -->
        <add extension=".css,.svg,.png,.webp,.woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" varyByHeaders="Cache-Control" />
        <!-- Don't cache JS files and JSON (they change with deployments) -->
        <add extension=".js,.json" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <!-- Service worker should never be cached -->
        <add extension=".webmanifest" policy="DisableCache" kernelCachePolicy="DisableCache" />
      </profiles>
    </caching>
    <httpProtocol>
      <customHeaders>
        <add name="Service-Worker-Allowed" value="/" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Prevent browsers from caching index.html so they always fetch the latest hashed assets after a new deployment -->
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store, no-cache, must-revalidate" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
